/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
    background-color: #010001;
}

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-four {
    width: 25%;
}

#main {}

#header {
    height: 30px;
    background-color: #010001;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

li,
li>a {
    list-style-type: none;
    text-decoration: none;
    font-weight: bolder;
}

#nav>li {
    display: inline-block;
    position: relative;
}

#nav li a {
    color: #F4A7BC;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 30px;
    display: inline-block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #FFFFFF;
    background-color: rgba(244, 167, 188, 0.8);
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 3px rgba(235, 165, 185, 0.9);
    text-align: left;
    width: 100%;
    color: #010001;
}

#nav .subnav a {
    color: #F4A7BC;
    font-weight: bold;
    padding: 0 12px;
    width: 100%;
    padding: 0 12px;
    line-height: 38.5px;
}

#nav li:hover .subnav {
    display: block;
    background-color: rgba(244, 167, 188, 0.5);
}

#header .header-logo {
    float: left;
    width: 10%;
    height: 30px;
}

#header .header-logo .logo {
    width: 100%;
    height: 100%;
}

#header .header-nav {
    float: right;
    text-align: right;
    width: 80%;
}

#slider {
    margin-top: 30px;
    text-align: center;
    min-height: max-content;
}

#slider-video {
    width: 70%;
    min-height: 200px;
}

#content {
    color: #F4A7BC;
}

#content .content-section {
    width: 1000px;
    padding: 64px 0px 100px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.5;
    text-align: center;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 200px;
    border-radius: 2px;
    border: 2.5px solid rgba(244, 167, 188, 0.4);
}

.place-img {
    width: 100%;
    display: block;
    border: 2.5px solid rgba(244, 167, 188, 0.4);
}

.place-body {
    background-color: rgba(57, 11, 23, 0.4);
    padding: 16px;
    margin-bottom: 20px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #fff;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.5;
}

.schedule--row {
    padding: 20px;
    background-color: rgba(57, 11, 23, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.schedule--row h5 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
}

.schedule--date {
    flex: 0.8;
    text-align: left;
    color: #F4A7BC;
}

.schedule--city {
    flex: 0.6;
    text-align: left;
    color: #FFFFFF;
}

.schedule--location {
    flex: 0.9;
    text-align: left;
    color: #FFFFFF;
}

.schedule--actions {
    flex: 1;
    text-align: right;
}

.button {
    width: 130px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 14px;
    margin: auto;
    border-radius: 5px;
    line-height: 25px;
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

.button--gray {
    background-color: #4c4c4c;
    color: #c8c8c8;
}

.button--ghost {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: background-color .2s ease-in-out;
}

.button--pink {
    background-color: #F4A7BC;
    color: #000000;
    transition: background-color .2s ease-in-out;
}

.more-label {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: #fff;
}

#video {
    color: #F4A7BC;
}

.section-title {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.video-tester {
    text-align: center;
    margin-bottom: 20px
}

.video-tester iframe {
    width: 690px;
    height: 440px;
}

.logo-blackpink {
    width: 250px;
    height: 100%;
    margin: auto;
    margin-top: 150px;
    padding-bottom: 20px;
}

.logo-blackpink img:hover {
    opacity: 0.6;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.icon-social {
    margin-right: 10px;
    width: 36px;
    height: 36px;
    background-color: transparent;
}

.icon-social:hover {
    opacity: 0.8;
}

.icon-social img:hover {
    width: 34px;
    height: 34px;
}

.social-icons img {
    max-width: 100%;
}

.contact-sponsorship {
    text-align: center;
    position: relative;
    top: -60px;
    font-size: 1rem;
    color: #F4A7BC;
}

.contact-sponsorship .sponsorship-email {
    color: #fff;
}

#footer {}


.yg-family-copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 50px;
    bottom: 3%;
    z-index: 900;
    right: 0;
    left: 0;
}

.yg-family-copyright img {
    margin-right: 10px;
}

.yg-family-copyright h5 {
    color: #fff;
    font-family: "futura-pt";
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}